<template>
  <div class="blog">
    <p>Hello World</p>
  </div>
</template>

<script>
export default {
  name: 'main',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
